@import "./assets/modern-normalize.css";

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Taken from https://tailwindcss.com/docs/colors */
	--color-gray-950: oklch(14.5% 0 0);
	--color-gray-900: oklch(20.5% 0 0);
	--color-gray-800: oklch(26.9% 0 0);
	--color-gray-700: oklch(37.1% 0 0);
	--color-gray-600: oklch(43.9% 0 0);
	--color-gray-500: oklch(55.6% 0 0);
	--color-gray-400: oklch(70.8% 0 0);
	--color-gray-300: oklch(87% 0 0);
	--color-gray-200: oklch(92.2% 0 0);
	--color-gray-100: oklch(97% 0 0);
	--color-gray-50: oklch(98.5% 0 0);

	color: var(--color-gray-900);
	background-color: var(--color-gray-100);
}

body {
	margin: 0;
}

main {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

@media (prefers-color-scheme: dark) {
	:root {
		color: var(--color-gray-100);
		background-color: var(--color-gray-800);
	}
	button {
		background-color: var(--color-gray-700);
	}
}
